<section class="thirteen columns">
    <h1>Initiatives</h1>
    <article>
        <header>
            <h1>International Master student</h1>
            <span><address>Hamburg University of Technology, Germany</address><time>2013</time></span>
        </header>
        <p>
            Courses: Chemical and Bioprocess Engineering
        </p>
    </article>
    <article>
        <header>
            <h1>Student Volunteer</h1>
            <span><address>Vivere, Hamburg</address><time>2019</time></span>
        </header>
        <p>
            Fundraiser: Lorem adipiscing ei eam, eros conceptam maiestatis ne sea.
        </p>
    </article>
</section>
